<p>@ViewBag.Post.PostName</p>
<p>@ViewBag.Post.PostDescription</p>
@foreach (var t in ViewBag.Post.images) {
    <p>@t</p>
}
@model Common.Models.Review;


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    report
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="createReport" asp-controller="Posts" enctype="multipart/form-data">
                    <select id="reportReasonform" name="reportReasonform">
                        <option value=1>Misleading</option>
                        <option value=2>Scam</option>
                    </select>
                    <input type="text" name="comment" id="comment">

                    <input type="hidden" name="PostId" id="PostId" value="@ViewBag.Post.PostId">
                    <input type="submit" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<form asp-action="createReview" asp-controller="Posts" enctype="multipart/form-data">
    <label asp-for="score"></label>
    <input asp-for="score" placeholder="Your name goes here" />
    <label asp-for="text"></label>
    <input asp-for="text" placeholder="Your name goes here" />
    <input type="hidden" name="PostId" id="PostId" value="@ViewBag.Post.PostId">
    <input type="submit" />
</form>

@{ foreach (var t in ViewBag.Review)
    {
        <div style="height= 200px; width=200px; background-color: yellow">
            <p>@t.Account.Name</p>
            <p>@t.score</p>
            <p>@t.text</p>
        </div>
    }
}
