<p>@ViewBag.Post.PostName</p>
<p>@ViewBag.Post.PostDescription</p>
<p>@ViewBag.Post.PostFileName</p>
<img src="@Url.Content(ViewBag.Post.PostFileName)">
@Html.ActionLink("Order", // <-- Link text
     "Order", // <-- Action Method Name
     "Posts", // <-- Controller Name
     null // <-- Route value
     )