@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model fhictkillerapp.Models.Report;

<form asp-action="banUser" asp-controller="BackPanel" enctype="multipart/form-data">

    <input type="text" name="userId" id="userId">

    <input type="submit" />
</form>

@{ foreach (var t in ViewBag.reports)
    {
        if (@t.ReportType == 3)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Type: Post</h5>
                    <h6 class="card-subtitle"> reason: @t.reportReason</h6>
                    <p class="card-text">@t.reportComment</p>
                    <a href="/post/@t.reportId" class="card-link">Go</a>
                    <a href="#" class="card-link">Dismiss</a>
                    <a href="#" class="card-link">Ban User</a>
                </div>
            </div>
        }

        if (@t.ReportType == 4)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Type: Chat help</h5>
                    <h6 class="card-subtitle"> reason: @t.reportReason</h6>
                    <p class="card-text">@t.reportComment</p>
                    <a href="/chat/@t.reportId" class="card-link">Go</a>
                    <a href="#" class="card-link">Dismiss</a>
                </div>
            </div>
        }
        if (@t.ReportType == 1)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Type: Review</h5>
                    <h6 class="card-subtitle"> reason: @t.reportReason</h6>
                    <p class="card-text">@t.reportComment</p>
                    <a href="/backpanel/ViewReportPost/@t.reportId" class="card-link">Go</a>
                </div>
            </div>
        }
    }
}
